[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.1"
requests = "==2.32.4"
streamlit = "==1.37.1"

[dev-packages]

[requires]
python_version = "3.10"